body {
  margin: 0;
  padding: 0;

  font-family: 'PT Sans', sans-serif;

  color: #7b7e8c;
  background-color: #eee;

  font-size: 10pt;
  letter-spacing: 0;
}

h5 {
  margin: .5em 0;
  font-size: 1.2em;
  font-weight: normal;
  line-height: 1.5em;
}

pre, pre *, code, code * {
  font-size: 9pt;
  font-family: monospace;
  line-height: 2em;

  background-color: #fff;
}

pre, code {
  padding: .5em 1em;
  border-radius: 4px;
  overflow: auto;
}

.map {
  position: absolute;

  fill: #333;
  stroke-width: 1px;
  stroke: #eee;

  width: 100%;
  max-height: 100vh;

  margin: 0 auto;
}

.page {
  position: absolute;
  z-index: 1;

  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  padding: 10px;

  display: flex;
}

.menu {
  width: 80px;
  height: 100%;

  margin-right: 10px;

  display: flex;
  flex-direction: column;
}

.menu .item {
  width: 80px;
  height: 80px;

  margin: 5px 0;

  color: #aaa;

  cursor: pointer;

  display: flex;

  align-items: center;
  justify-content: center;

  font-size: 48px;

  filter: drop-shadow(1px 1px 0 rgba(0, 0, 0, .4));
}

.menu .item.active {
  color: #555;
}

.menu .spacer {
  flex: 1
}

.logo {
  width: 80px;
  height: 80px;
  margin-bottom: 20px;

  color: #aaa;
  border: 1px dashed #aaa;

  display: flex;

  align-items: center;
  justify-content: center;
}

.logo:before {
  content: '[logo]';
}

.intro {
  position: relative;
  width: 600px;

  padding: 20px;

  box-sizing: border-box;

  overflow: auto;

  font-size: 1.2em;

  background-color: #ffffffee;
}

.intro .signature {
  text-align: right;
  padding: 20px;
}

.intro button {
  font-size: .8em;
  padding: 10px 16px;
  white-space: nowrap;
  width: auto;
}

.intro .close {
  position: absolute;
  top: 10px;
  right: 10px;

  width: 40px;
  height: 40px;

  cursor: pointer;

  text-align: center;
  font-size: 30px;
}

.intro .close:before {
  content: '✖';
}

.intro .button {
  background-color: white;

  border: 0;
  box-shadow:
    0 0 0 2px white,
    0px 0 0 3px #aaa;

  cursor: pointer;

  transition: background-color .5s;
}

.intro .button.succeeded {
  background-color: #3a35;
}

.intro .button::-moz-focus-inner {
  border: 0;
}

.trigger {
  margin: 2em 0;
}

.snippet {
  white-space: pre-wrap;
  overflow: auto;
  margin: 2em 0;
}

.assignments {
  width: 500px;

  padding: 0 10px;
}

.assignments .header {
  display: inline-block;

  color: #eee;
  background-color: #888e;
  box-shadow: 0 0 0 1px #eee8;

  margin: 5px 0 3px;
  padding: 0px 8px 2px;

  font-weight: bold;
}

.assignment {
  position: relative;
  margin: 5px 0 10px;

  background-color: #fffffff5;

  padding: 10px;
}

.assignment_created {
  position: absolute;
  top: 10px;
  right: 20px;

  font-size: .8em;
  color: #aaa;
}

.assignment_name {
  font-weight: bold;
}

.assignment_parameters {
  font-family: 'PT Mono';
  font-size: .8em;
  line-height: 1.4em;

  white-space: pre;
  cursor: auto;
  user-select: text;
  overflow: auto;
}

@font-face {
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local("PT Sans"), local("PTSans"), url(PTSans-Regular.ttf);
}

@font-face {
  font-family: 'PT Mono';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local("PT Mono"), local("PTMono"), url(PTMono-Regular.ttf);
}
